__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.env/
.venv/
env/
venv/

*.log
*.pot
*.sqlite3
db.sqlite3

/media/
staticfiles/

.vscode/
.vscode
.idea/
instance/

.DS_Store
Thumbs.db

.env

.pytest_cache/
.cache/
.coverage
coverage.xml
htmlcov/

.mypy_cache/
.dmypy.json
.pyre/

build/
dist/
*.egg-info/

.ipynb_checkpoints/
